@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700;900&family=Roboto:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 10vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .page-logo {
  width: 40px;
  height: 40px;
}

.navbar-container .logo-text {
  margin-left: 0.5em;
  font-size: 1.3em;
}

.navbar-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container .nav-link {
  margin: 0 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f1534;
  opacity: 0.5;
}

.navbar-container .nav-link.active {
  opacity: 1;
}

@media (max-width: 800px) {
  .nav-link {
    display: none;
  }
  .navbar-container {
    padding: .5rem 2vw 2em 2vw;
  }
}

@media (min-width: 801px) {
  .menu-icon {
    display: none;
  }
}

.header-container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10vw;
  margin: 0 auto;
}

.header-container .header-left {
  width: 50%;
  max-width: 350px;
}

.header-container .header-left h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.header-container .header-left p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  opacity: 0.5;
}

.header-container .header-left button {
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  background-color: #458ff6;
  color: #ffffff;
  border: none;
}

.header-container .header-right {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .header-right .header-image {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 630px) {
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-left {
    text-align: center;
    margin-bottom: 2rem;
    width: 100% !important;
  }
}

.section1 {
  padding: 4rem 10vw;
}

.section1 .section1-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .section1-head .border {
  width: 50px;
  height: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

.section1 .section1-head p {
  font-size: 1.05rem;
  margin-bottom: 2rem;
  opacity: 0.5;
  width: 85%;
}

.section1 .section1-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .section1-services .services {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.section1 .section1-services .services .services-items {
  max-width: 240px;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.205);
  border-radius: 1rem;
  margin-left: 2rem;
  -webkit-box-shadow: 10px 10px 10px #e5e9f666;
          box-shadow: 10px 10px 10px #e5e9f666;
}

.section1 .section1-services .services .services-items img {
  max-width: 50%;
  height: 50%;
  margin-bottom: 0.7rem;
}

.section1 .section1-services .services .services-items h1 {
  font-size: 1rem;
  margin-bottom: 0.7rem;
}

.section1 .section1-services .services .services-items p {
  font-size: 0.9rem;
  opacity: 0.5;
}

.section1 .section1-services .services .firstchild {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.section1 .section1-services button {
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  color: #458ff6;
  background-color: #fff;
  border-color: #458ff6;
}

@media (max-width: 1020px) {
  .secondchild {
    margin-bottom: 2rem;
  }
}

.section2 {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 10vw;
  margin: 0 auto;
}

.section2 .section-right {
  width: 50%;
  max-width: 350px;
  margin-top: 3rem;
}

.section2 .section-right h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section2 .section-right p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  opacity: 0.5;
}

.section2 .section-right button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  color: #458ff6;
  background-color: #ffffff;
  border-color: #458ff6;
}

.section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-left img {
  width: 100%;
  max-width: 500px;
}

.border {
  width: 50px;
  height: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 1.5rem;
}

@media (max-width: 1095px) {
  .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-right {
    text-align: center;
    margin-bottom: 2rem;
    width: 100% !important;
  }
  .border {
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}

.section3 {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 10vw;
  margin: 0 auto 6rem auto;
}

.section3 .section-right {
  width: 50%;
  max-width: 350px;
  margin-top: 3rem;
}

.section3 .section-right h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section3 .section-right p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  opacity: 0.5;
}

.section3 .section-right button {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  color: #458ff6;
  background-color: #ffffff;
  border-color: #458ff6;
}

.section3 .section-right .download-icon {
  margin-left: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1095px) {
  .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  button {
    margin: 0 auto;
  }
}

.reviews {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 1.5rem;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  margin: 0 auto;
}

.reviews .review-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 2.4rem;
}

.reviews .border {
  width: 50px;
  height: 20px;
  border-bottom: 2px solid #fff;
  margin-bottom: 1.5rem;
}

.reviews .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 3rem;
}

.reviews .comments .customer-comment {
  max-width: 300px;
  font-size: 0.8rem;
  opacity: 0.5;
  float: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
}

.reviews .comments .customer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .comments .customer-details .customer-image {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
  margin-right: 1rem;
}

.reviews .comments .customer-details .text-section {
  color: #fff;
}

.reviews .comments .customer-details .text-section .customer-name {
  font-size: 0.9rem;
}

@media (max-width: 700px) {
  .comments {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .customer-details {
    margin-bottom: 2rem;
  }
  .customer-comment {
    width: 100% !important;
  }
  .review-top {
    text-align: center;
  }
}

@media (max-width: 1103px) {
  .reviews {
    border-radius: 0;
  }
}

.articles {
  padding: 3rem 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.articles .article-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles .story-list {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.articles .story {
  max-width: 30%;
}

.articles .story-text {
  max-width: 850px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.205);
  -webkit-box-shadow: 10px 10px 5px #e5e9f666;
          box-shadow: 10px 10px 5px #e5e9f666;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.articles .story-image {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.articles .story-title {
  font-size: .9rem;
  margin: 0 0 1rem 0;
  padding: 0 1rem;
}

.articles .story-subtitle {
  opacity: 0.5;
  font-size: .9rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.articles .read-more {
  color: #458ff6;
  text-decoration: none;
  padding: 0 1rem;
  padding-bottom: 2rem;
}

.articles .read-more-icon {
  margin-left: 0.5rem;
}

.articles .view-btn {
  margin-top: 3rem;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  color: #458ff6;
  background-color: #ffffff;
  border-color: #458ff6;
}

@media (max-width: 710px) {
  .article-header {
    text-align: center;
  }
  .story-list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .story {
    margin-bottom: 3rem;
    max-width: 300px !important;
  }
  .story-text {
    height: 390px !important;
  }
}

.footer-container {
  padding: 3rem 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  color: #fff;
  min-height: 300px;
}

.footer-container .footer-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.footer-container .footer-logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.footer-container .footer-logo {
  width: 40px;
  height: 40px;
}

.footer-container .footer-right-side {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-container .logo-text {
  margin-left: 0.5em;
  font-size: 1.3em;
}

.footer-container .nav {
  list-style: none;
}

.footer-container .footer-nav-link {
  margin-top: .5rem;
}

.footer-container .copyright {
  margin-top: 1rem;
}

@media (max-width: 955px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-right-side {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    max-width: 800px !important;
    margin: 0;
  }
  .footer-header {
    margin-top: 1.5rem !important;
  }
  .footer-left-side {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 537px) {
  .footer-right-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */